<app-header></app-header>
<h1>Hello Angular {{title}}</h1>
<app-user-list [item]="data"></app-user-list>
<button (click)="updateChild()">Update Child Component</button>
<app-student-list></app-student-list>
<app-class-list></app-class-list>
<app-school-list></app-school-list>
<h1>Function call in Angular</h1>
<button (click)="getName()">Click Me</button>
<button type="button" (click)="getAnu('Anu', 'Chauhan')">CLick</button><br>
<button (click)="getKey('hello')">Call Function</button><br>
<br>
<input type="text" (keyup)="getKey('box.value')" placeholder="Event Key Up">
<br>
<input type="text"  #box (keyup)="getKey(box.value)" placeholder="Event Key Up">
<br><br>
<input type="text"  #box1 (keydown)="getKey(box1.value)" placeholder="Event Key Down">

<br><br>
<input type="text"  #box2 (blur)="getKey(box2.value)" placeholder="Event Key Blur">
<br><br>
<input type="text"  #box3 (input)="getKey(box3.value)" placeholder="Event Key Input">
<br><br>
<h1 (mouseover)="getKey('over')">Code Step by Step</h1>
<h1 (mouseleave)="getKey('leave')">Sweeti </h1>
<br><br>
<p>Get Input Value</p>
<input type="text"  #box4 (keyup)="getValue(box4.value)" placeholder="Enter Name" name="username">
<br><br>
<input type="text"  #box5  placeholder="Enter Name" name="username">
<button (click)="getValue(box5.value)">Click</button>
<p>
    Box Value is: {{displayVal}}
</p>
<br><br>
<input type="text"  #box6 placeholder="Enter Name" name="username">
<button (click)="getValue(box6.name)">Click</button>
<button (click)="getValue(box6.placeholder)">Click</button>
<p>
    Box Value is: {{displayVal}}
</p>

<p>Couter</p>
<button (click)="counter('add')">++</button>
<p>Count:{{count}}</p>
<button (click)="counter('minus')">--</button>
<br>
<p>Property Binding</p>
<br>
<h1>{{title}}</h1>
<input type="text" name="user-name" value={{name}} disabled="{{disable}}">
<br><br>
<input type="text" name="user-name" id="" [value]=name [disabled]=disable>
<br>
<br>
<h2 [style.color]="color" [style.backgroundColor]="bgColor">Style Binding</h2>
<button (click)="updateColor()">Update color</button>
<h2 [style.color]="color">Multiple Style Binding</h2>
<br><br>
<h2 *ngIf="display">Heading Tag</h2>
<button (click)="toggle">Toggle</button>

<br><br>

<ul *ngFor="let user of userDetails">
    <app-reuseable-component [item]="user"></app-reuseable-component>
</ul>


<app-child (updateDataEvent)="updateData($event)"></app-child><br>
<h1>Two Way Binding</h1>

<input type="text" [(ngModel)]="namme">
<h2>{{namme}}</h2><br>
<h1>Template Referenc Variable </h1>
<input type="text" #ref name="user" placeholder="Enter YOUR NAME">
<button (click)="getVal(ref.value)">Call fUNCTION</button>
<button (click)="getVal(ref)">Call Input</button>
<button (click)="getVal(ref.placeholder)">Call Placeholder</button><br>
<h2>pipes</h2>
<h1>{{title|uppercase}}</h1>
<h3>without Pipe</h3>
<h1>{{capString(title)}}</h1>
<h1>{{title|lowercase}}</h1>
<h1>{{title}}</h1><h1>{{today}}</h1>
<h1>{{today|date}}</h1>
<h1>{{today|date:'fullDate'}}</h1>
<h1>{{title|slice:3:6 |uppercase}}</h1>
<h1>{{user|json}}</h1>
<h2>Number</h2>
<h2>{{2000.3000}}</h2>
<h2>{{00002000.3000 |number:'2.2-3'}}</h2>
<h2>{{20|currency:'USD'}}</h2>
<h2>{{20|currency:'GBP'}}</h2>
<h2>{{20|currency:'INR'}}</h2>
<h2>{{"how are you"|titlecase}}</h2>
<h2>{{20|usdInr:72}}</h2>
<app-loginform></app-loginform>

<br><br><br>
<h2 appRedEll>Custom Directive</h2>
<br><br>
<h2 appRedEl>Custom Directive</h2>

<div>

<h2>service</h2>
<ul>
<li *ngFor="let user of users">
{{user.name}}:{{user.age}}</li>
</ul>
</div>
<app-footer></app-footer>